<div id="breadcrumbs" style="text-align: left;">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="/">Home</a>

  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      <!-- Last crumb is always the current page title -->
      / {{ page.title }}
    {% elsif crumb == "members" and include.member %}
      <!-- If the crumb is 'members' and member is passed -->
      {% if include.member.group == "alum" %}
        / <a href="/team">Team</a> / <a href="/team/alumni">Alumni</a>
      {% else %}
        / <a href="/team">Team</a>
      {% endif %}
    {% else %}
      <!-- Default breadcrumb behavior -->
      / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>