{% assign image = page.footer | default: site.footer | relative_url %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image }}'); background-color: #004483; padding: 2rem 0;"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; gap: 2rem; max-width: 1200px; margin: 0 auto;">
    <!-- Right Column: About -->
    <div style="flex: 1 1 150px; min-width: 220px; color: #fff; padding: 25px;">
      <h5 style="margin-top: 0;">About Us</h5>
      <p>
        Infolab is a research group at SKKU focusing on data science, AI, and computer science.<br>
        <span style="font-size: 1.2em; margin-right: 0.3em;">&#x1F4CD;</span>SKKU, Suwon, South Korea
      </p>
    </div>


    

    <!-- Center Column: Useful Links -->
    <div style="flex: 1 1 80px; min-width: 220px; padding: 10px;">
      <h5 class="white-text" style="margin-top: 0;">Useful Links</h5>
      <ul style="list-style: none; padding: 0;">
        <li><a class="white-text" href="https://gradschool.skku.edu/grad/">SKKU Graduate School</a></li>
        <li><a class="white-text" href="https://cs.skku.edu/">Computer Science and Engineering Dept</a></li>
        <li><a class="white-text" href="https://ai.skku.edu/ai/index.do">Department of Artificial Intelligence</a></li>
        <li><a class="white-text" href="https://skb.skku.edu/skkuaai/index.do">Department of Applied Artificial Intelligence</a></li>
      </ul>
    </div>

    <!-- Left Column: Map -->
    <div style="flex: 1 1 120px; min-width: 120px; padding: 10px;">
      <h5 class="white-text" style="margin-top: 0;">Lab Visitors</h5>
      <!-- <div id="map" style="width: 100%; height: 200px; border-radius: 8px; overflow: hidden;"></div> -->
      <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=COvPQVJGuO8N7b5dqprqmgk25CrRMR0mNGZhOqOFasw"></script> -->
      <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=mQz5owgHoo51mOnAZzlTHAqmiNF4eaJD34BWqA920RE&co=143e9d'></script>
    </div>
  </div>
  <div style="margin-top: -35px;">
        {% for link in site.links %}
          {% assign key = link[0] %}
          {% assign value = link[1] %}
          {% include button.html type=key text="" link=value style="bare" %}
        {% endfor %}
  </div>
  <div style="text-align: center; margin: -25px;">
        &copy; {{ site.time | date: "%Y" }} {{ site.title }}
  </div>

  <!-- <script src="https://unpkg.com/jsvectormap"></script>
  <script src="https://unpkg.com/jsvectormap/dist/maps/world-merc.js"></script>
  <script>
    var markers = [
      { name: "Suwon", coords: [37.2636, 127.0286] },
      { name: "USA", coords: [37.0902, -95.7129] },
      { name: "India", coords: [20.5937, 78.9629] },
      { name: "Uzbekistan", coords: [41.3775, 64.5853] },
      { name: "Pakistan", coords: [30.3753, 69.3451] },
      { name: "France", coords: [46.6034, 1.8883] },
      { name: "Palestine", coords: [31.9522, 35.2332] }
    ];

    var jvm = new jsVectorMap({
      map: "world_merc",
      selector: "#map",
      zoomButtons: true,
      zoomOnScroll: true,
      regionStyle: {
        initial: { fill: "#d1d5db" }
      },
      labels: {
        markers: { render: (marker) => "" }
      },
      markersSelectable: true,
      selectedMarkers: markers.map((marker, index) => {
        var name = marker.name;
        if (name === "Suwon" || name === "Brazil") {
          return index;
        }
      }),
      markers: markers,
      markerStyle: {
        initial: { fill: "#12ad07" },
        selected: { fill: "#ff5050" }
      },
      markerLabelStyle: {
        initial: {
          fontFamily: "Roboto",
          fontWeight: 400,
          fontSize: 13,
        }
      }
    });
  </script> -->


  <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=COvPQVJGuO8N7b5dqprqmgk25CrRMR0mNGZhOqOFasw&co=08447d'></script> -->
</footer>
