{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

<div class="portrait-wrapper">
  <a
    {% if page.slug != member.slug %}
      href="{{ member.url | relative_url }}"
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member link" }}"
  >
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name or member.role or member.description %}
      <span class="portrait-text">
        {% if member.name %}
          <span class="portrait-name">
            {{ member.name }}
          </span>
        {% endif %}

        {% if member.role or member.description %}
          {% assign show_role = true %}
          {% assign show_pronouns = false %}
          {% assign show_years_worked = false %}
          {% if page.url contains "/team/alumni" %}
            {% assign show_role = false %}
            {% assign show_years_worked = true %}
          {% endif %}
          {% if page.slug == member.slug %}
            {% assign show_pronouns = true %}
            {% assign show_years_worked = true %}
          {% endif %}
          {% if show_role %}
            <span class="portrait-role">
              {% assign type = site.data.types[member.role] %}
              {% include icon.html icon=type.icon %}
              <span>{{ member.description | default: type.description }}</span>
            </span>
          {% endif %}
          {% if show_pronouns %}
            {% if member.pronouns %}
              <span class="portrait-pronouns" aria-label="Pronouns">
                {{ member.pronouns }}
              </span>
            {% endif %}
          {% endif %}
          {% if show_years_worked %}
            {% if member.years_worked %}
              <span class="portrait-years_worked">
                {{ member.years_worked }}
              </span>
            {% endif %}
          {% endif %}
        {% endif %}
      </span>
    {% endif %}
  </a>
</div>
