---
layout: default
---

{% capture floatcontent %}

{% assign member = site.members 
  | where_exp: "member", "member.slug == page.slug"
  | first
%}
{% include breadcrumbs.html member=member %}
{% include section.html %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] | strip %}
    {% if value != "" %}
      {% include button.html type=key link=value style="bare" %}<br>
    {% endif %}
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture search -%}
  pubs/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<p class="center">
  <a href="{{ search | relative_url }}">
    Search for {{ page.name | default: page.title }}'s papers on the Publications page
  </a>
</p>

{% include section.html %}
<a href="https://docs.google.com/spreadsheets/d/1OZHvED-dqe0wM_8CW3anAuwnonPZblBYSTaeGvO5It4/edit?gid=0#gid=0">Update this user profile</a>
